.header{
    background-color: #666666;
    color: #ffffff;
    font-family: fantasy;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headerLogo{
}
  
.header{}
.logoSpan{}
.logoSpan{}
.headerItem{}
.headerBtn{}
