.header {
  background-color: #666666;
  color: #ffffff;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lable:active {
  scale: 1.2;
}
.checkbox {
  display: none;
}
.volume {
  display: block;
  background: url("/src/Source/svg/Volume.svg") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.mute {
  display: block;
  background: url("/src/Source/svg/Mute.svg") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.mute:active {
    scale: 1.2;
  
}
