.header {
  background-color: #666666;
  color: #ffffff;
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lable {
  min-width: 50px;
}
.checkbox {
  display: none;
}
.volume {
  display: block;
  background: url("/src/Source/svg/Volume.svg") no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
}
.mute {
  display: block;
  background: url("/src/Source/svg/Mute.svg") no-repeat;
  background-size: contain;

  width: 40px;
  height: 40px;
}
.volume:hover {
  border: 3px solid #fafafa;
  border-radius: 50%;
  transition-duration: 0.35s;
}
.volume:active {
  border: 6px solid #dddddd;
}
